DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=change-this-password
AUTH_SECRET=change-this-random-secret
DATABASE_PATH=./data/content.sqlite

NEXT_PUBLIC_WHATSAPP_NUMBER=6280000000000
NEXT_PUBLIC_CONTACT_EMAIL=hello@rumah-owen.com
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_GA4_ID=
